<h2>ISS Extract</h2>

Extract <%= @id %> to <%= select :target, :ip, {"test" => "10.18.45.102"} %>

<%= button_to "Extract!", {:action => "req", :id => @id, :issue => @issue, :target => @target.ip}%>
