<style type="text/css">
table {width: 100%}
tbody {width: 100%}
td {width: 80%}
input.url {width: 80%}
</style>

<table>
  <tbody>
    <tr>
      <th>RRRC execution service</th>
      <td>
        <input type="text" id="settings_rrrc_execution" class="url"
                           value="<%= settings['rrrc_exec'] %>"
                           name="settings[rrrc_exec]" >
      </td>
    </tr>
    <tr>
      <th>ZIP extract execution service</th>
      <td>
        <input type="text" id="settings_zip_extraction" class="url"
                           value="<%= settings['zip_ext_exec'] %>"
                           name="settings[zip_ext_exec]" >
      </td>
    </tr>
    <tr>
      <th>ISS extract execution service</th>
      <td>
        <input type="text" id="settings_iss_extraction" class="url"
                           value="<%= settings['iss_ext_exec'] %>"
                           name="settings[iss_ext_exec]" >
      </td>
    </tr>
    <tr>
      <th>ISS host URL</th>
      <td>
        <input type="text" id="settings_iss_host" class="url"
                           value="<%= settings['iss_host'] %>"
                           name="settings[iss_host]" >
      </td>
    </tr>
  </tbody>
</table>
